@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .bg-slide-in {
        animation: slideInFromLeft 1s ease forwards;
    }

    .image-slide-in {
        animation: slideInFromRight 1s ease forwards;
    }

